div.inner{
    border: 3px solid green;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
div.middle{
    border: 2px dashed red;
    border-radius: 10px;
    padding: 15px;
}
div.outside{
    border: 3px dotted blue;
    border-radius: 10px;
    padding: 15px;
}